<!DOCTYPE html>
<html lang="en">
<head>
  <title>Strategic Product Placement Dashboard</title>
  <style>
    .tableauFrame {
      border: 0;
      width: 1016px;
      height: 1014px;
    }
  </style>
</head>
<body>
  <h1>Strategic Product Placement Analysis</h1>

  <iframe
    class="tableauFrame"
    title="Strategic product placement dashboard"
    src="https://public.tableau.com/views/strategic_product_placement_dashboard1/Story1?:showVizHome=no&:embed=true"
    width="1016"
    height="1014">
  </iframe>
</body>
</html>